{% extends 'base.html' %}
<html>

{% block body %}
<h2> PLEASE ENTER YOUR REVIEW</h2>

<form method="POST" action=" ">
    {{ form.hidden_tag() }} 
    <br>
    {{ form.movie_name.label}}: {{ form.movie_name }}
    <br>
    {{ form.genre.label}}: {{ form.genre }}
    <br>
    {{ form.review_description.label}}: {{ form.review_description }}
    <br>
    {{ form.review_rating.label}}: {{ form.review_rating }}
    <br>
    {{ form.date_watched.label}}: {{ form.date_watched }}  
    <br>
    {{ form.submit }}
</form>
{% endblock body %}
</html>
